PORT=9001
ENV=development
DEBUG=true

DB_HOST=localhost
DB_NAME=listmak_service
DB_PORT=5432
DB_USER=postgres
DB_PASS=

GOOGLE_CLIENT_ID=your_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret
GOOGLE_REDIRECT_URL=http://localhost:9001/api/v1/auth/google/callback

JWT_SECRET=secret

FIREWORKS_API_KEY=
FIREWORKS_MODEL=accounts/fireworks/models/llama-v3p1-8b-instruct

FRONTEND_URL=http://localhost:5173